@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor01: #49F284;
    --cor02: #00F055;
    --cor03: #00BD42;
    --cor04: #007027;
    --cor05: #22703D;

    --fonte-padrao: Arial, Helvetica, cursive, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android';
}


body {
    background-color: var(--cor01);
}


header {
    background-image: linear-gradient(to top, var(--cor04), var(--cor02));
    text-align: center;
}

header h1 {
    font-family: var(--fonte-destaque);
    font-weight: normal;
    color: white;
    padding: 20px;
    font-size: 2.3em;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.555);
}

header p {
    display: block;
    font-family: var(--fonte-padrao);
    color: white;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    max-width: 500px;
    margin: auto;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.555);
}


nav {
    display: flex;
    align-items: center;
    background-color: var(--cor04);
    padding: 10px;
    height: 30px;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.096);

}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    text-decoration: none;
    color: white;
    font-family: var(--fonte-padrao);
    padding: 0px 10px;
    border-radius: 5px;
    transition-duration: 0.3s;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.555);
}

nav a:hover {
    background-color: var(--cor03);
}

nav a:active {
    color: rgb(133, 133, 133);
}


main {
    max-width: 900px;
    margin: auto;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
    border-radius: 0px 0px 5px 5px;
}

main h1{
    margin: 15px 0px;
    font-family: var(--fonte-android);
}

main h2 {
    margin: 15px 0px;
    font-family: var(--fonte-android);
}

main p {
    text-indent: 30px;
    line-height: 1.3em;
}

main img {
    display: block;
    max-width: 700px;
    margin: auto;
}


#video {
    background-color: var(--cor05);
    position: absolute;
    
}


aside {
    background-color: var(--cor01);
    border-radius: 7px;
    padding: 7px;
    font-family: var(--fonte-padrao);
    margin-top: 30px;
}

aside > h3 {
    background-color: var(--cor04);
    color: white;
    padding: 7px;
    font-weight: normal;
    border-radius: 7px 7px 0px 0px;
    margin: -7px -7px 0px -7px;
}

aside p{
    margin: 7px;
    line-height: 1.3em;
}

aside ul {
    list-style-position: inside;
    columns: 2;
    margin: 25px;
}


footer {
    margin-top: 20px;
    background-color: var(--cor04);
    text-align: center;
}

footer p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}